/* || GRAPH */
.graph {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 2fr;
}

.graph__button {
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .graph {
        display: block;
    }

    .graph__canvas {
        margin-bottom: 1rem;
    }
}