/* || GRAPH */
.graph {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr auto;
    grid-template-columns: 3fr 2fr;
}

.graph__horizontal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.graph__button {
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .graph {
        display: block;
    }

    .graph__horizontal-buttons {
        display: block;
    }

    .graph__button {
        width: 100%;
    }

    .graph__canvas {
        margin-bottom: 1rem;
    }
}